@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.bg-gradient {
  background: linear-gradient(to bottom, white 50%, #0c632e 0%);
}

@media screen and (max-width: 1080px) {
  .bg-gradient {
    background: white;
  }
}
